<html ng-app>
	<head>
		<script src="js/libs/angular.min.js"></script>
		<!--<script src="js/libs/bootstrap.js"></script>-->
		<script src="js/controllers.js"></script>
		<!--<link rel="stylesheet" href="css/bootstrap.css">-->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div ng-controller="ReportController">
			<div class="navigation-panel">
				<h1>Navigation</h1>
				<h2><a href="#variables">Variables</a></h2>
				<ul ng-repeat="variable in variables">
					<li><a href="#variable-{{variable.name}}">{{variable.name}}</a></li>
				</ul>
				<h2><a href="#groups">groups</a></h2>
				<h2><a href="#summary-sections">Sections</a></h2>
				<ul ng-repeat="summarySection in summarySections">
					<li><a href="#summary-section-{{summarySection.name}}">{{summarySection.name}}</a></li>
				</ul>
			</div>
			<div class="right-pane">
				<form class="form-horizontal">
				
					<h1>Report properties</h1>
					<label>Report name</label> 
					<input type="text" ng-model="formReportName" ng-model-instant></input>
					
					<label>Description</label> 
					<input type="text" ng-model="formDescriptionText" ng-model-instant></input>
					
					<button class="btn" ng-click="save()">Save</button>
					
					<h1 id="variables">Variables</h1>
					<div ng-repeat="variable in variables" class="variable transform-{{variable.isTransform}}">
						
						<h2 id="variable-{{variable.name}}">
							{{variable.name}} 
							<span ng-show="variable.isTransform">
								(Transformation)
							</span> 
							<button class="btn" ng-click="removeVariable(variable.name)">Remove {{variable.name}}</button>
						</h2>
						
						
						<label>Data type</label>
						<select ng-model="variable.dataType" ng-options="item.dataType as item.displayValue for item in dataTypeOptions"></select>
						
						<label>Transform variable</label>
						<select ng-model="variable.isTransform" ng-options="item.isTransform as item.displayValue for item in isTransformOptions"></select>
						
						<div ng-show="variable.isTransform">
							<label>Method</label>
							<select ng-model="variable.transformDefinition.transformMethod" ng-options="item.transformMethod as item.displayValue for item in transformMethodOptions"></select>
						</div>

					</div>
					<div>
						<input type="text" ng-model="newVariableName" ng-model-instant></input>
						<button class="btn" ng-click="addVariable()">Add variable</button>
					</div>
					<h1 id="groups">groups</h1>
					<div ng-repeat="group in groups" class="group">
						<h2 id="group-{{group.name}}
					</div>
					<h1 id="summary-sections">Sections</h1>
					<div ng-repeat="summarySection in summarySections" class="summary-section">
						<h2 id="summary-section-{{summarySection.name}}">{{summarySection.name}}</h2>
						<h3 id="summary-variables">Summary Variables</h3>
						<h3 id="charts">Charts</h3>
					</div>
					<div>
						<input type="text" ng-model="newSummarySectionName" ng-model-instant></input>
						<button class="btn" ng-click="addSummarySection()">Add summary section</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>