body {padding: 10px; font-size: 8pt; font-family: verdana, arial;}

label {display: inline;}

.navigation-panel {width: 270px; border: 1px solid #AAA; background-color: #EEEEFF; padding: 10px; float: left; overflow-y: scroll; position: fixed;}
.navigation-panel a{text-decoration: none; padding: 5px;}
.navigation-panel a:hover{background-color: #FFAAAA;}

.right-pane {margin-left: 320px;}

.variable{padding: 10px; border: 1px solid #CCC; margin-bottom: 10px; background-color: #EEE;}
.variable h2 {margin-top: 0px}

.summary-section {padding: 10px 0 px 10px 0px;  border-top: 1px solid #777; margin-bottom: 10px;}

.transform-true{background-color: #FFFFAA}